<!DOCTYPE html>
<html ng-app="githubViewer">

<head>
  <title>GitHub Pesquisa</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <script src="js/script.js"></script>
  <style>

.all{
  width: 20%;
  margin-left: auto;
  margin-right: auto;

}
IMG.image{
  max-width:180px;
  max-height: 180px;
  border-radius: 220px;
  display: block;
  margin-left: auto;
  margin-right: auto;

}
.banner{

  height:200px;
}
  </style>

</head>

<body ng-controller="MainController">


  <div class="banner">

  <img class="image" ng-src="{{user.avatar_url}}" title="{{user.name}}" /><br><br>
</div>
  <div class="all">
  <form name="searchUser" ng-submit="search(username)">
    <input type="search" require placeholder="Procure por Usuario" ng-model="username" />

    <button type="submit" class="fa fa-search"></button>

  </form><br>



  <div ng-show="user">
    <div>Ordem:
      <select ng-model="repoSortOrder" >
        <option value="+name">A-Z</option>
        <option value="-name">Z-A</option>
        <option value="-stargazers_count">Mais Favorito</option>
        <option value="+stargazers_count">Menos Favorito</option>
        <option value="+language">Linguagem</option>

      </select>
    </div>


  <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Favorito</th>
        <th>Linguagem</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="repo in repos | orderBy:repoSortOrder ">
        <td>{{repo.name}}</td>
        <td>{{repo.stargazers_count | number}}</td>
        <td>{{repo.language}}</td>
      </tr>
    </tbody>

  </table>
</div>
</div>


</body>

</html>
